<html ng-app="demo">
<head>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.1/angular.js"></script>
    </head>
    <body>
        <div ng-controller="demoCtrl as dc">
             <input type="text" ng-model="dc.id" >
        <input type="text" ng-model="dc.empName" >
        <button id="btnCreate" ng-click="dc.addEmployee()">Create</button>
        <table id="tblEmployees">
        <thead>
             <th>EmployeeId</th>
            <th>Employee Name</th>
        </thead>
            <tr ng-repeat="emp in dc.employees">
                <td>{{emp.id}}</td>
                <td>{{emp.empName}}</td>
            </tr>
       
    </table>
        </div>
    <script src="app.js"></script>
    </body>
</html>